
{% extends 'tienda/index.html' %}

{% block texto %}
        <form method='POST'>
                {% csrf_token %}
                {{form}}
                <button>Enviar</button>
                <a href="{% url 'index' %}">Volver</a>
        </form>

<!-- <div class="container-fluid w-50">
    <h2 class="">Datos</h2>
    <form method="POST">
      <div class="form-group">
        <label for="marca">nombre:</label>
        <input type="string" class="form-control" id="email" name="nombre"placeholder="Ingrese nombre del producto" name="marca">
      </div>
      <div class="form-group">
        <label for="descripcion">Precio:</label>
        <input type="integer" class="form-control" id="pwd" name="precio"placeholder="Ingrese precio del producto" name="desc">
      </div>
      <div>
        <label for="precio">Cantidad:</label>
        <input type="integer" class="form-control" id="pwd" name ="stock" placeholder="Ingrese la cantidad en stock" name="desc">
      </div>
    <div class="conteiner-fluid">
      <button type="submit" class="btn btn-primary mt-2">Registrar</button>
    </form>
    <a class="btn btn-primary mt-2 volver" href="{% url 'index' %}">Volver</a>
    </div>
</div> -->

{% endblock %}

